<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>次饭饭去了</h1>
<!--用的是转发的形式跳转的-->
<a th:href="@{/testRequestMapping}" >别点啊啊啊啊啊！！测试RequestMapping注解的位置</a><br>
<a th:href="@{/testRequestMapping}" >别点啊啊啊啊啊！！测试RequestMapping的value属性--》/testRequestMapping</a><br>
<a th:href="@{/test}" >别点啊啊啊啊啊！！测试RequestMapping的value属性--》/test</a><br>
<a th:href="@{/test}" >别点啊啊啊啊啊！！测试RequestMapping的value属性--》GET</a><br>

<form th:action="@{/test}" method="post">
    <input type="submit" value="测试RequestMapping注解的method属性--》post">
</form>

<form th:action="@{/testPut}" method="put">
    <input type="submit" value="测试RequestMapping是否能发送put或者delete请求方式--》put（不能）">
</form>

<a th:href=" @{/testParamsAndHeaders(username='admin',password=123456)}">测试RequestMapping注解的的params属性</a><br>

<!--<form th:action="@{/testParamsAndHeaders}" method="put">-->
<!--    <input type="submit" value="测试RequestMapping是否能发送put或者delete请求方式&#45;&#45;》put">-->
<!--</form>-->

<a th:href="@{/aqa/testAnt}">测试RequestMapping可以匹配ant风格的路径-->使用</a><br>


<a th:href="@{/testPath/1/ljh}">测试@RequestMapping支持路径中的占位符--》/testPath</a><br>

</body>
</html>